:root{
    --false-color:red;
    --true-color:green;
    --section-padding:40px;
  }
body{
  overflow-x: hidden;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
.main-con{
  margin-top: 100px;
}
  .result{
        padding:var(--section-padding);
        justify-content: space-around;
      
  }



  .background {
    height: 320vh;
  }


  .result .container{
display: flex;
flex-direction: column;
justify-content: center;
background-color: #f0f8ffd6;
border-radius: 20px;


  }

  .result .container .heading{
   margin-top: 25px;
   
    
      }
      .result .container .heading h4{
       font-size: 1.3em;
        
         
           }


  .options ul li {
    list-style-type: none;
    margin: 10px 0px;
    border-radius: 10px;
    padding: 5px 0px 5px 10px;
  }
  .options ul li label {
   font-size: 1.3em;
  }


.true {
  border: 3px solid green;
    background-color: #28a74545;
    border-radius: 10px;
  }


  @media screen and (max-width:767px){
    .background {
      height: 390vh;
  }

  }
  @media (min-width: 768px) and (max-width: 1023px) {  
     .background {
    height: 370vh;
}}

